<!doctype html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
       <div class="container">
           <a class="waves-effect waves-light btn" href="/budgets">Home</a>
           <a class="waves-effect waves-light btn" href="/budgets/new">Add New Item</a>   
       </div>
    </body>
</html>